body
{
    font-family: Helvetica;

    margin: 0 0 0 10px;
    padding: 0;

    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;

    background: rgb(197, 204, 211) url(/pda_images/stripes.png);

    -webkit-text-size-adjust: none;
}
hr
{
    display: none;
}
a
{
    color: #369;
}
/* standard header on body */
#header h1,
ul h1
{
    font: bold 18px Helvetica;

    margin: 15px 0 0 10px;

    color: rgb(76, 86, 108);
    text-shadow: #fff 0 1px 0;
}
/* standard paragraph on body */
ul p,
.data p p,
.form p p
{
    font: 14px Helvetica;

    margin: 0 10px 17px 0;

    text-align: center;

    color: rgb(76, 86, 108);
    text-shadow: white 0 1px 0;
}
/* headers */
#header
{
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    min-height: 44px;
    margin: 0 0 0 -10px;
    padding: 10px;

    border-top: 1px solid rgb(205, 213, 223);
    border-bottom: 1px solid rgb(46, 55, 68);
    background: rgb(109, 133, 163) url(/pda_images/bgHeader.png) repeat-x top;
}
#header h1
{
    font: bold 20px/30px Helvetica;

    position: absolute;
    top: 0;
    left: 50%;

    overflow: hidden;

    width: 49%;
    margin: 2px 0 0 -24%;
    padding: 5px 0;

    text-align: center;
    white-space: nowrap;
        text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;

    color: #fff;
    text-shadow: #2d3642 0 -1px 0;

     -o-text-overflow: ellipsis;
}
#header a
{
    font: bold 12px/30px Helvetica;
    /*white-space:nowrap;*/

    position: absolute;
    top: 7px;
    right: 6px;

    overflow: hidden;

    width: auto;
    height: 30px;
    margin: 0;
    padding: 0 3px;

    text-decoration: none;
        text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;

    color: #fff;
    border-width: 0 5px;
    -webkit-border-image: url(/pda_images/toolButton.png) 0 5 0 5;
       -moz-border-image: url(/pda_images/toolButton.png) 0 5 0 5;
         -o-border-image: url(/pda_images/toolButton.png) 0 5 0 5;
            border-image: url(/pda_images/toolButton.png) 0 5 0 5;
    background: none;
    text-shadow: rgb(46, 55, 68) 0 -1px 0;

     -o-text-overflow: ellipsis;
        -ms-border-image: url(/pda_images/toolButton.png) 0 5 0 5;
}
#header #backButton
{
    right: auto;
    left: 6px;

    max-width: 55px;
    padding: 0;

    border-width: 0 8px 0 14px;
    -webkit-border-image: url(/pda_images/backButton.png) 0 8 0 14;
       -moz-border-image: url(/pda_images/backButton.png) 0 8 0 14;
         -o-border-image: url(/pda_images/backButton.png) 0 8 0 14;

        -ms-border-image: url(/pda_images/backButton.png) 0 8 0 14;
}
.Action
{
    border-width: 0 5px;
    -webkit-border-image: url(/pda_images/actionButton.png) 0 5 0 5;
       -moz-border-image: url(/pda_images/actionButton.png) 0 5 0 5;
         -o-border-image: url(/pda_images/actionButton.png) 0 5 0 5;
            border-image: url(/pda_images/actionButton.png) 0 5 0 5;

        -ms-border-image: url(/pda_images/actionButton.png) 0 5 0 5;
}
#header ul
{
    margin-top: 15px;
}
#header p
{
    font-size: 13px;
    font-weight: bold;

    position: absolute;
    top: 4px;
    right: 35px;
    left: 35px;

    clear: both;
    /*white-space:nowrap;*/
    overflow: hidden;

    margin: 0;

    text-align: center;
        text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;

    color: rgb(60, 70, 80);
    text-shadow: #c0cbdb 0 1px 0;

     -o-text-overflow: ellipsis;
}
.pre
{
    height: 60px;
}
.pre h1
{
    top: 18px !important;
}
.pre a
{
    top: 25px !important;
    right: 6px;
}
.pre a#Backbutton
{
    left: 6px !important;
}
/***** List (base) ******/
ul,
.site-content
{
    font: bold 17px Helvetica;

    margin: 15px 10px 17px 0;
    padding: 0;

    color: black;
    border: 1px solid #b4b4b4;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    background: #fff;
}
.site-content
{
    font: normal 100% Arial, Helvetica, sans-serif;
}
ul li,
.site-content > div,
.catsTd,
.archiveEntries > div,
.forumNameTd,
.threadNametd,
.postTable
{
    padding: 10px 10px 10px 10px;

    list-style-type: none;

    color: #666;
    border-top: 1px solid #b4b4b4;
}
/* when you have a first LI item on any list */
ul li:first-child,
.site-content > div:first-child,
.catsTable tr:first-child .catsTd,
.archiveEntries > div:first-child
{
    border-top: 0;
    -webkit-border-top-left-radius: 8px;
    -moz-border-radius-topleft: 8px;
            border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    -moz-border-radius-topright: 8px;
            border-top-right-radius: 8px;
}
ul li:last-child,
.site-content > div:last-child,
.catsTable tr:last-child .catsTd,
.archiveEntriest > div:last-child,
.gTable
{
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-radius-bottomright: 8px;
            border-bottom-right-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-radius-bottomleft: 8px;
            border-bottom-left-radius: 8px;
}
/* universal arrows */
ul li.arrow,
.uMenuItem,
.catsTd
{
    background-image: url(/pda_images/chevron.png);
    background-repeat: no-repeat;
    background-position: right center;
}
#plastic ul li.arrow,
#metal ul li.arrow
{
    background-image: url(/pda_images/chevron_dg.png);
    background-repeat: no-repeat;
    background-position: right center;
}
/* universal links on list */
ul li a,
li.img a
{
    display: block;
    /*white-space:nowrap;*/
    overflow: hidden;

    margin: -10px;
    padding: 12px 10px 12px 10px;

    text-decoration: none;
        text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;

    color: #000;

     -o-text-overflow: ellipsis;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
ul li.img a + a
{
    font-size: 17px;
    font-weight: bold;

    margin: -10px 10px -20px -5px;
}

ul li.img a + a + a
{
    font-size: 14px;
    font-weight: normal;

    margin-top: 0;
    margin-bottom: -10px;
    margin-left: -10px;
}


ul li.img a + small + a
{
    margin-left: -5px;
}


ul li.img a + small + a + a
{
    font-size: 14px;
    font-weight: normal;

    margin-top: -20px;
    margin-bottom: -10px;
    margin-left: -10px;
}

ul li.img a + small + a + a + a
{
    margin-bottom: 0;
    margin-left: 0 !important;
}


ul li a + a
{
    font: 14px Helvetica;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;

    white-space: nowrap;
    text-overflow: ellipsis;

    color: #000;
}

ul li a + a + a,
ul li.img a + a + a + a,
ul li.img a + small + a + a + a
{
    font: 13px Helvetica;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;

    white-space: nowrap;
    text-overflow: ellipsis;

    color: #666;
}



/* standard mini-label */
ul li small,
.catNumData
{
    font: 17px Helvetica;

    display: block;
    float: right;
    overflow: hidden;

    width: 23%;
    padding: 3px 0;

    text-align: right;
    white-space: nowrap;
        text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;

    color: #369;

     -o-text-overflow: ellipsis;
}
ul li.arrow small
{
    padding: 0 15px;
}
ul li small.counter,
.catNumData
{
    font-size: 17px !important;
    font-weight: bold;
    line-height: 13px !important;

    display: inline !important;

    width: auto;
    margin-top: 2px;
    padding: 4px 10px 5px 10px;

    color: #fff;
    -webkit-border-radius: 11px;
       -moz-border-radius: 11px;
            border-radius: 11px;
    background: rgb(154, 159, 170);
}
ul li.arrow small.counter
{
    margin-right: 15px;
}
/* resize without labels */
ul li.arrow a
{
    width: 95%;
}
/* with labels */
ul li small a
{
    width: 75%;
}
ul li.arrow small a
{
    width: 70%;
}
/* images */
ul li.img
{
    padding-left: 115px;
}
ul li.img a.img
{
    display: inline-block;
    float: left;

    width: 100px;
    height: 75px;
    margin: -10px 0 -20px -115px;

    background: url(/pda_images/standard-img.png) no-repeat;
}
/* individuals */
.individual
{
    clear: both;

    height: 45px;

    border: 0;
    background: none;
}
.individual li
{
    font-size: 14px;

    display: block;
    float: left;

    -moz-box-sizing: border-box;
         box-sizing: border-box;
    width: 48%;
    padding: 11px 10px 14px 10px;

    text-align: center;

    color: rgb(183, 190, 205);
    border: 1px solid rgb(180, 180, 180);
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    background: white;
}
.individual li li
{
    float: right;
}
.individual li a
{
    line-height: 16px;

    margin: -11px -10px -14px -10px;
    padding: 11px 10px 14px 10px;

    color: rgb(50, 79, 133);
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}
.individual li a:hover
{
    color: #fff;
    background: #36c;
}
/* Normal lists and metal */
#normal h4,
.gTableTop
{
    margin: 0;
    padding: 2px 10px;

    color: #fff;
    border-top: 1px solid rgb(165, 177, 186);
    background: rgb(154, 159, 170) url(/pda_images/bglight.png) top left repeat-x;
    text-shadow: #666 0 1px 0;
}
#normal,
#metal
{
    margin: 0;
    padding: 0;

    background-color: rgb(255, 255, 255);
}
#normal ul,
#metal ul,
#plastic ul
{
    margin: 0;

    border-top: 0;
    border-right: 0;
    border-left: 0;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
}
#metal ul
{
    border-top: 0;
    border-bottom: 0;
    background: rgb(180, 180, 180);
}
#normal ul li
{
    font-size: 20px;
}
#normal ul li small
{
    font-size: 16px;
    line-height: 28px;
}
#normal li,
#metal li
{
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
}
#normal li em
{
    font-weight: normal;
    font-style: normal;
}
#normal h4 ul
{
    border-top: 1px solid rgb(152, 158, 164);
    border-bottom: 1px solid rgb(113, 125, 133);
}
#metal ul li
{
    font-size: 26px;

    border-top: 1px solid rgb(238, 238, 238);
    border-bottom: 1px solid rgb(156, 158, 165);
    background: url(/pda_images/bgMetal.png) top left repeat-x;
    text-shadow: #fff 0 1px 0;
}
#metal ul li a
{
    line-height: 26px;

    margin: 0;
    padding: 13px 0;
}
#metal ul li a:hover
{
    color: rgb(0, 0, 0);
}
#metal ul li:hover small
{
    color: inherit;
}
#metal ul li a em
{
    font-size: 14px;
    font-style: normal;
    line-height: 14px;

    display: block;

    width: 50%;

    color: #444;
}
#metal ul li small
{
    font-weight: bold;

    position: relative;

    float: right;

    margin-top: 10px;
}
#metal ul li.arrow a small
{
    line-height: 17px;

    padding-right: 0;
}
#metal ul li.arrow
{
    background: url(/pda_images/bgMetal.png) top left repeat-x, url(/pda_images/chevron_dg.png) right center no-repeat;
}
/* option panel */
#optionpanel
{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    padding: 20px 10px 15px 10px;

    text-align: center;

    background: url(/pda_images/blackbg.png) top left repeat-x;
}
#optionpanel h2
{
    font-size: 17px;

    color: #fff;
    text-shadow: #000 0 1px 0;
}
/***** BUTTONS *****/
.button
{
    font: bold 20px/46px Helvetica;

    display: block;

    margin: 3px 0;

    text-align: center;
    text-decoration: none;

    color: #fff;
    border-width: 0 14px 0 14px;
    text-shadow: #000 0 1px 0;
}

.green
{
    -webkit-border-image: url(/pda_images/greenButton.png) 0 14 0 14;
       -moz-border-image: url(/pda_images/greenButton.png) 0 14 0 14;
         -o-border-image: url(/pda_images/greenButton.png) 0 14 0 14;

        -ms-border-image: url(/pda_images/greenButton.png) 0 14 0 14;
}
.red
{
    -webkit-border-image: url(/pda_images/redButton.png) 0 14 0 14;
       -moz-border-image: url(/pda_images/redButton.png) 0 14 0 14;
         -o-border-image: url(/pda_images/redButton.png) 0 14 0 14;

        -ms-border-image: url(/pda_images/redButton.png) 0 14 0 14;
}
.white
{
    color: #000;
    -webkit-border-image: url(/pda_images/whiteButton.png) 0 14 0 14;
       -moz-border-image: url(/pda_images/whiteButton.png) 0 14 0 14;
         -o-border-image: url(/pda_images/whiteButton.png) 0 14 0 14;
    text-shadow: #fff 0 1px 0;

        -ms-border-image: url(/pda_images/whiteButton.png) 0 14 0 14;
}
.black
{
    -webkit-border-image: url(/pda_images/grayButton.png) 0 14 0 14;
       -moz-border-image: url(/pda_images/grayButton.png) 0 14 0 14;
         -o-border-image: url(/pda_images/grayButton.png) 0 14 0 14;

        -ms-border-image: url(/pda_images/grayButton.png) 0 14 0 14;
}
/***** FORMS *****/
/* fields list */
.form li
{
    padding: 7px 10px;
}
.form li.error
{
    border: 2px solid red;
}
.form li.error li.error
{
    border-top: 0;
}
.form li:hover
{
    background: #fff;
}
input[type='text'],
input[type='password'],
textarea,
select
{
    font: normal 17px Helvetica;

    display: inline-block;

    width: 100%;
    margin-left: 0;
    padding: 0;

    color: #777;
    /* this is a hack due the default input shadow that iphones uses on textfields */
    border: 0;
    background: #fff url(../.png);

    -webkit-appearance: textarea;
            appearance: textarea;
}
textarea
{
    height: 120px;
    padding: 0;
}
select
{
    width: 90%;
    margin-left: -6px;

    text-indent: 0;

    background: transparent url(/pda_images/chevron.png) no-repeat 103% 3px;

    -webkit-appearance: textfield;
            appearance: textfield;
}
input[type='checkbox'],
input[type='radio']
{
    margin: 0;
    padding: 10px 10px;

    color: rgb(50, 79, 133);
}
input[type='checkbox']:after,
input[type='radio']:after
{
    font: 17px Helvetica;

    display: block;

    width: 246px;
    margin: -12px 0 0 17px;

    content: attr(title);
}
/**** INFORMATION FIELDS ****/
.data li h4
{
    margin: 10px 0 5px 0;
}
.data li p
{
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;

    margin: 0;

    text-align: left;
}
.data li p p
{
    margin-top: 10px;
}
.data li
{
    padding: 15px 10px;

    color: #222;
    background: none;
}
.data li a
{
    display: inline;

    text-decoration: underline;

    color: #2e3744;
}
.field li small
{
    position: absolute;
    z-index: 3;
    right: 25px;

    margin-top: 3px;
}
.field li h3
{
    font-size: 13px;
    line-height: 18px;

    float: left;
    overflow: hidden;

    width: 25%;
    margin: 0 10px 0 0;
    /*white-space:nowrap;*/
    padding: 0;

    text-align: right;
        text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;

    color: rgb(76, 86, 108);

     -o-text-overflow: ellipsis;
}
.field li a
{
    font-size: 13px;
    line-height: 18px;

    display: inline-block;
    overflow: visible;

    margin: 0;
    padding: 0;

    vertical-align: top;
    white-space: normal;
}
.field li big
{
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;

    display: inline-block;
    overflow: visible;

    width: 60%;

    white-space: normal;
}
.field li small
{
    font-size: 13px;
    font-weight: bold;
}
/* this is for profiling */
.profile
{
    position: relative !important;

    clear: both !important;

    min-height: 62px !important;
    margin: 15px 0 0 0 !important;

    border: 0 !important;
    background: none !important;
}
.profile li
{
    position: relative;

    float: left !important;

    -moz-box-sizing: border-box !important;
         box-sizing: border-box !important;
    height: 62px;

    border: 1px solid #b4b4b4 !important;
    -webkit-border-radius: 4px !important;
       -moz-border-radius: 4px !important;
            border-radius: 4px !important;
    background: #fff;
}
.picture
{
    width: 62px !important;background: #fff url(/pda_images/profile-user.png) no-repeat !important;
}
.picture img
{
    position: absolute;
    top: 0;
    left: 0;

    -moz-box-sizing: border-box !important;
         box-sizing: border-box !important;
    width: 62px !important;
    height: 62px;

    border: 1px solid #b4b4b4 !important;
    -webkit-border-radius: 4px !important;
       -moz-border-radius: 4px !important;
            border-radius: 4px !important;
}
.clearfix
{
    margin-left: 10px; text-align: left !important;
}
ul.profile li + li
{
    width: 70%;

    border: 0;
    background: none;
}


ul.profile li + li h2,
ul.profile li + li p
{
    margin: 0;

    color: rgb(46,55,68);
    text-shadow: #fff 0 1px 0;
}

ul.profile li + li h2
{
    font: bold 18px/22px Helvetica;

    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;
}

ul.profile li + li p
{
    font: 14px/18px Helvetica;

    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;
}


/* any A element inside this kind of field list will scale 62x62 */

ul.profile li a
{
    display: block;

    width: 62px;
    height: 62px;

    color: transparent;
}
/***** PLASTIC LISTS *****/
#plastic
{
    margin: 0;
    padding: 0;

    background: rgb(173, 173, 173);
}
#plastic ul
{
    margin: 0;

    border-top: 0;
    border-right: 0;
    border-left: 0;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    background-color: rgb(173, 173, 173);
}
#plastic ul li
{
    border-top: 1px solid rgb(191, 191, 191);
    border-bottom: 1px solid rgb(157, 157, 157);
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
}
#plastic ul li:nth-child(odd)
{
    border-top: 1px solid rgb(181, 181, 181);
    border-bottom: 1px solid rgb(138, 138, 138);
    background-color: rgb(152, 152, 152);
}
#plastic ul p
{
    font-size: 11px;

    padding: 10px 10px;

    color: #2f3237;
    text-shadow: none;
}
#plastic ul p strong
{
    font-size: 14px;
    line-height: 18px;

    text-shadow: #fff 0 1px 0;
}
#plastic ul li a
{
    text-shadow: rgb(211, 211, 211) 0 1px 0;
}
#plastic ul li:nth-child(odd) a
{
    text-shadow: rgb(191, 191, 191) 0 1px 0;
}
#plastic ul li small
{
    font-size: 13px;
    font-weight: bold;
    line-height: 24px;

    text-transform: uppercase;

    color: #3c3c3c;
    text-shadow: rgb(211, 211, 211) 0 1px 0;
}
/**** MINI */
